* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: .7s ease-in-out;
}



.owl-carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-stage {
    transition: 0.9s !important;
}

.owl-carousel .owl-stage {
    transition-timing-function: linear !important;
}

/* .Cover-sectionsection */

.cover-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background: coral;
}
.developed-by{
    padding: 30px 0;
    color: #ffffff;
    font-family: cursive;
}.developed-by a{
    color: indigo;
    font-family: cursive;
}

.book-list-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.book-list-container .item {
    transform: rotate(45deg);
    user-select: none;
}

.book-list-container .item:hover {
    box-shadow: 4px 15px 16px 1px grey;
}

.book-list-container .item h2 {
    width: 150px;
    margin: 10px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
    background: purple;
    border-radius: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    transform: rotate(315deg);
}

.book-list-container .item h2:hover {
    /* transform: scale(1.2); */
}

/* .learning-sectionsection */

.learning-section {
    height: 580px;
    /* background: yellowgreen; */
    display: none;
}

.english-alphabet-learn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}

.english-alphabet-learn-container .english-alphabet-learn-banner {
    width: 70%;
    text-align: center;
    background: #fff;
    margin-right: 5px;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.english-alphabet-learn-container img {
    width: 400px;
}

.english-alphabet-learn-banner {
    position: relative;
}

.homeBtn {
    position: absolute;
    top: 3px;
    left: 3px;
}

.homeBtn button {
    width: 50px;
    background: coral;
    color: white;
    border: none;
    outline: none;
    user-select: none;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.english-alphabet-learn-container .right-sidebar {
    width: 30%;
    background: #fff;
    height: 80vh;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.english-alphabet-learn-container .right-sidebar button {
    font-size: 200px;
    font-weight: 900;
    border: none;
    outline: none;
    background: transparent;
    color: crimson;
}

.english-alphabet-learn-container .right-sidebar p {
    font-size: 30px;
    font-weight: bolder;
    color: coral;
}

.learning-section .footer-container {
    width: 100%;
    padding: 0 20px;
    background: #fff;
    padding: 5px;
    height: 20vh;
    position: fixed;
}

.footer-item button {
    background: coral;
    color: crimson;
    border: none;
    outline: none;
    user-select: none;
    font-size: 80px;
    font-weight: 900;
    line-height: 60px;
    border-radius: 7px;
    padding: 5px;
    /* width: 100%; */
    cursor: pointer;
    transition: .8s;
}

.footer-item button:hover {
    /* transform: scale(1.1); */
    /* border-bottom: 2px solid white; */
    color: purple;
    box-shadow: 0 5px 5px 0 purple;
}

/* Resposnive */

/* // CSS applied when the device is in portrait mode */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    /* Cover style */
    .book-list-container .item h2 {
        width: 110px;
        height: 110px;
        line-height: 110px;
    }
    /* Learning style */
    .english-alphabet-learn-container {
        flex-direction: column;
        width: 100%;
    }
    .english-alphabet-learn-container .english-alphabet-learn-banner {
        height: 40vh;
        width: 100%;
        margin-right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .english-alphabet-learn-container img {
        width: 300px;
        padding: 5px;
    }
    .english-alphabet-learn-container .right-sidebar {
        margin-top: 5px;
        height: 40vh;
        width: 100%;
    }
    .english-alphabet-learn-container .right-sidebar button {
        font-size: 140px;
        color: crimson;
        padding-top: 10px;
    }
    .footer-item button {
        font-size: 53px;
        background: coral;
        color: crimson;
    }
}

/*  // CSS applied when the device is in landscape mode */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    /* Cover section */
    .book-list-container .item h2 {
        width: 130px;
        height: 130px;
        line-height: 130px;
    }
    /* Learning section */
    .learning-section {
        height: auto;
        background: coral;
    }
    .english-alphabet-learn-container .english-alphabet-learn-banner {
        height: 230px;
    }
    .english-alphabet-learn-container .english-alphabet-learn-banner img {
        height: 100%;
    }
    .english-alphabet-learn-container .right-sidebar {
        height: 230px;
    }
    .english-alphabet-learn-container .right-sidebar button {
        font-size: 125px;
    }
    .english-alphabet-learn-container img {
        width: 242px;
    }
    .learning-section.footer-container {
        height: auto;
    }
    .english-alphabet-learn-container .right-sidebar p {
        margin-bottom: 14px;
        font-size: 22px;
    }
    .footer-item button {
        font-size: 63px;
    }
    .learning-section .footer-container {
        height: 22vh;
    }
}